.login{

    height: 300px;
    width: 400px;
    border: 2px solid rgb(94, 0, 131);
    margin: auto;
    margin-bottom: 60px;
    padding: 20px;
    overflow: hidden;
    background: linear-gradient(to bottom right, #1e5799, #7abcff)
}
label{
    display: inline-block;
    width: 150px;
    text-align: left;
    padding-top: 15px;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 25px;
}

.form ul{
    color: rgb(94, 0, 131);   
    font-size: 30px;
    padding: 40px;
    text-align: left;
    list-style: none;  
}
.login h3{
    color: black;
    font-size: 35px; 
    text-align: center;
    text-decoration: underline;
 
}
#botoninput{
    height: 30px;
    width: 150px;
    margin: 50px 10px 50px 120px;
    background-color:  rgb(94, 0, 131)
    
    
}