.formulario{
    width: 1100px;
    height: auto;
    border: 3px solid rgb(94, 0, 131);
    margin: 30px auto;
    overflow: hidden;
       
    }

form{
    width: 49%;
    display: inline-block;

}
.formulario ul{
    color: rgb(94, 0, 131);   
    font-size: 30px;
    padding: 40px;   
    list-style: none;  
    
}
label{
    display: inline-block;
    width: 180px;   
    padding-top: 15px;
    
}
.formulario h3{
    color: rgb(94, 0, 131);
    font-size: 25px; 
    text-align: center;
}
.Modificarpersona{   
    
    width: 40%;  
    margin-top: -600px;
    margin-left: 650px;
    margin-bottom: 250px;  
    
    
}
.Modificarpersona img{

    width: 90%;
}
.Modificarpersona p{
    color: rgb(94, 0, 131); 
    font-size: 25px;
    text-align: center;
}



input{
    width: 130px;
}