sliderpalas{
    width: 100%;
    height: 400px;
    overflow: hidden;
    padding: 0px;


}

.sliderpalas img {
   width:85%;
   max-height: 380px; 
   
}

.sliderpalas .fa-angle-left{
    display: inline-block;
    position: relative;
    right: 88%; 
    color: #f1da36 ;
    cursor: pointer;


}

.sliderpalas .fa-angle-right{

    display: inline-block;
    position: relative;
    color: #f1da36 ;
    cursor: pointer;
}
